<nav class="colornav navbar navbar-expand-lg navbar-dark">
  <div class="colornav container-fluid align-middle">
    <div class="col-6 col-md-9">
      <img
        src="../../../assets/img/logo white.png"
        alt="Logo pequeño"
        class="me-3 logoPequeño"
      />
      <a class="navbar-brand" routerLink="home">WAIILO</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse col-6 col-md-3"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item my-1 px-1">
          <button type="button" class="btn" routerLink="Registro">
            <!-- data-bs-toggle="modal" data-bs-target="#ventanaModal" -->
            Registrarse
          </button>
        </li>
        <li class="nav-item my-1 px-1">
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#ventanaLogin"
            routerLink="Login"
          >
            Iniciar Sesion
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
