<div class="padre col-6 mx-auto mt-3">
  <div class="modal-header col-10 titulo-register mx-auto mt-3">
    <h5 class="modal-title" id="exampleModalLabel">REGISTRO</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      routerLink=""
    ></button>
  </div>
  <form
    class="container-fluid col-10 mx-auto"
    (ngSubmit)="onEnviar(registroCliente)"
  >
    <div class="form-group py-2 row examinar">
      <div class="col-6">
        <div class="form-floating col">
          <!-- formControlName="nombre",formControlName="apellido", formControlName="emailRegistro", formControlName="passwordRegistro"
        formControlName="passwordRegistro" formControlName="cuil_cuit"  formControlName="provincia"  formControlName="localidad" -->
          <input
            type="text"
            class="form-control"
            id="floatingNombre"
            placeholder="Nombre"
            name="nombre"
            [(ngModel)]="registroCliente.Nombre"
            required
          />
          <label for="floatingNombre">Nombre</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating col">
          <input
            type="text"
            class="form-control"
            id="floatingApellido"
            placeholder="Apellido"
            name="apellido"
            [(ngModel)]="registroCliente.Apellido"
            required
          />
          <label for="floatingApellido">Apellido</label>
        </div>
      </div>
    </div>
    <div class="form-group examinar">
      <div class="form-floating mt-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="emailRegistro"
          [formControl]="emailRegistro"
          [(ngModel)]="registroCliente.Mail"
          required
        />
        <label for="floatingInput">Dirección de mail</label>
      </div>
      <div
        *ngIf="
          emailRegistroField?.invalid &&
          (emailRegistroField.dirty || emailRegistroField.touched)
        "
        class="text-danger fw-light"
      >
        <small *ngIf="emailRegistroField.hasError('pattern')"
          >Email no valido</small
        >
        <small *ngIf="emailRegistroField.hasError('required')"
          >Debe ingresar una dirección de e-mail</small
        >
      </div>
    </div>
    <div class="form-group examinar">
      <div class="form-floating mt-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="passwordReg1"
          minlength="10"
          [(ngModel)]="registroCliente.Password"
          [formControl]="passwordRegistro"
          required
        />
        <label for="floatingPassword">Contraseña</label>
      </div>
      <div
        *ngIf="
          passwordRegistroField?.invalid &&
          (passwordRegistroField.dirty || passwordRegistroField.touched)
        "
        class="text-danger fw-light"
      >
        <small *ngIf="passwordRegistroField.hasError('pattern')"
          >La clave debe contener al menos una letra Mayuscula, una Minuscula y
          un simbolo.</small
        >
        <small *ngIf="passwordRegistroField.hasError('minLength')"
          >El minimo de digitos requerido es 8.</small
        >
        <small *ngIf="passwordRegistroField.hasError('required')"
          >La contraseña es requerida.</small
        >
      </div>
    </div>
    <div class="form-group examinar">
      <div class="form-floating mt-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword2"
          placeholder="Repetir Password"
          name="passwordReg2"
          minlength="10"
          required
        />
        <label for="floatingPassword2">Repetir Contraseña</label>
      </div>
      <div
        *ngIf="
          passwordRegistroField2?.invalid &&
          (passwordRegistroField2.dirty || passwordRegistroField2.touched) &&
          passwordRegistroField2.value != passwordRegistroField.value
        "
        class="text-danger fw-light"
      >
        <small *ngIf="passwordRegistroField2.hasError('')"
          >La clave debe ser identica.</small
        >
        <small *ngIf="passwordRegistroField2.hasError('required')"
          >La contraseña es requerida.</small
        >
      </div>
    </div>
    <div class="col examinar">
      <div class="form-floating col my-3">
        <input
          type="text"
          class="form-control"
          id="floatingDni"
          placeholder="Cuit_Cuil"
          value=""
          required
          name="cuil_cuit"
          [(ngModel)]="registroCliente.Cuit_Cuil"
        />
        <label for="floatingDni">CUIL/CUIT</label>
      </div>
    </div>
    <div class="row form-group examinar">
      <div class="form-floating col-10 col-md-6 mx-auto">
        <select
          id="inputProv"
          class="form-control"
          (change)="ObtenerLocalidadPorPr()"
          [formControl]="provincia"
          name="inputProv"
          required
        >
          <option
            *ngFor="let prov of provincias"
            value="{{ prov.ID_Provincia }}"
          >
            {{ prov.Provincia1 }}
          </option>
        </select>
        <label class="mx-3" for="inputProv">Provincia</label>
      </div>

      <div class="form-floating col-10 col-md-6 mx-auto">
        <select
          id="inputLocal"
          class="form-control"
          name="localidad"
          placeholder="Seleccione una Localidad"
          [(ngModel)]="registroCliente.ID_Localidad"
          required
        >
          <option
            *ngFor="let Loc of localidades"
            value="{{ Loc.ID_Localidad }}"
          >
            {{ Loc.Localidad1 }}
          </option>
        </select>
        <label class="mx-3" for="inputLocal">Ciudad</label>
      </div>
    </div>

    <div class="form-floating examinar">
      <input
        type="text"
        class="form-control"
        name="domicilio"
        id="direccion"
        [(ngModel)]="registroCliente.Domicilio"
        required
      />
      <label for="direccion">Dirección</label>
    </div>

    <div *ngIf="previsualizacion" class="">
      <img
        width="150px"
        [src]="previsualizacion"
        alt="Previsualización"
        class="img-default rounded-pill"
      />
    </div>
    <div class="input-group examinar">
      <label class="input-group-text" for="foto_frontal">Foto frontal</label>
      <input
        type="file"
        class="form-control"
        name="foto_frontal"
        id="foto_frontal"
        [formControl]="foto_frontal"
        (change)="transFFrontal($event)"
        required
      />
    </div>
    <div class="input-group examinar">
      <label class="input-group-text" for="dni_delante"
        >Foto delantera de DNI</label
      >
      <input
        type="file"
        class="form-control"
        name="dni_delante"
        id="dni_delante"
        [formControl]="dni_delante"
        (change)="transDDelante($event)"
        required
      />
    </div>
    <div class="input-group examinar">
      <label class="input-group-text" for="dni_detras"
        >Foto de reverso de DNI</label
      >
      <input
        type="file"
        class="form-control"
        name="dni_detras"
        id="dni_detras"
        [formControl]="dni_detras"
        (change)="transDDetras($event)"
        required
      />
    </div>
    <!--  formControlName="domicilio" formControlName="foto_frontal"  formControlName="dni_delante" formControlName="dni_detras" -->

    <div class="form-check my-5 mx-5">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="terminosCheck"
        required
      />
      <label class="form-check-label" for="terminosCheck"
        >Acepto los terminos y condiciones.</label
      >
      <div class="invalid-feedback">You must agree before submitting.</div>
    </div>
    <div class="button mb-5">
      <button type="submit" class="btn" [disabled]="">Registrarme</button>
    </div>
  </form>
</div>
