
<div class="container-fluid" style="background: #A5E9E1;">
    <!-- primer fila -->
  <div class="row">
    <div class="col align-middle">
        <!-- <div class="row justify-content-center m-3">
            <div class="col-auto">
                <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                </p>
                <a type="button" class="btn btn-dark shadow" data-toggle="modal" data-target="#exampleModal">Deseo registrarme!</a>
                </div>
            </div>
        </div> -->
        <div class="row my-5">
            <div class="col">
              <img src="../assets/wallet.png" class="img-fluid" alt="..." />
            </div>
            <div class="col">
              <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                  </p>
                  <!-- <a type="button" class="btn btn-dark shadow" data-toggle="modal" data-target="#exampleModal">Deseo registrarme!</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col align-middle">
      <img src="../assets/wallet4-3.png" class="img-fluid rounded-circle w-50 m-4" alt="..." />
    </div>
  </div>
  <!-- segunda fila -->
  <div class="row justify-content-center">
      <div class="col-auto my-5 align-middle">
        <img src="../assets/walletx.png" class="img-fluid" width="80%" alt="..." />
      </div>
      <div class="col-auto my-auto">
        <div class="mt-5">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
                </p>
                <a type="button" class="btn btn-dark shadow" data-toggle="modal" data-target="#exampleModal">Deseo registrarme!</a>
            </div>
        </div>
      </div>
  </div>
</div>
